*{
     padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: black;
    display: flex;
    width: 1200px;
    height: 170px;

  
}

.imagen{
    width: 200px;
    height: 200px;
    
  
}

.sexto-digito{
    width: 200px;
    height: 200px;
    font-size: 100px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    
    
   
}

.quinto-digito{
    width: 200px;
    height: 200px;
    font-size: 100px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
   
    
}

.cuarto-digito{
    width: 200px;
    height: 200px;
    font-size: 100px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
   
    
}

.tercer-digito{
    width: 200px;
    height: 200px;
    font-size: 100px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
   
}

.segundo-digito{
    width: 200px;
    height: 200px;
    font-size: 100px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
   
    
}

.primer-digito{
    width: 200px;
    height: 200px;
    font-size: 100px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    
   
    
   
}
